<a href="https://colab.research.google.com/github/utkarshkr13/Lib/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment

Task1:Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
features=4
observations=4

In [ ]:
data = np.random.rand(features,observations)

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

          0         1         2         3
0  0.910200  0.959571  0.501000  0.178035
1  0.722800  0.005450  0.447438  0.696339
2  0.148168  0.069099  0.310997  0.175993
3  0.066104  0.607890  0.535186  0.093640

Task 2:Rename the Task 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
new_column={ 0: 'Random value 1',1: 'Random value 2',2: 'Random value 3',3: 'Random value 4'}

In [ ]:
df.rename(columns=new_column, inplace=True)

In [ ]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.910200        0.959571        0.501000        0.178035
1        0.722800        0.005450        0.447438        0.696339
2        0.148168        0.069099        0.310997        0.175993
3        0.066104        0.607890        0.535186        0.093640

Task3: Find the descriptive statistics of the 'df' dataframe

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.461818        0.410502        0.448655        0.286002
std          0.417981        0.454995        0.098622        0.276368
min          0.066104        0.005450        0.310997        0.093640
25%          0.127652        0.053186        0.413328        0.155405
50%          0.435484        0.338494        0.474219        0.177014
75%          0.769650        0.695810        0.509547        0.307611
max          0.910200        0.959571        0.535186        0.696339

Task:4 Check for the null values in 'df' and find the data type of the columns

In [ ]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Task:5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [ ]:
df.loc[:, ['Random value 2','Random value 3']]

   Random value 2  Random value 3
0        0.959571        0.501000
1        0.005450        0.447438
2        0.069099        0.310997
3        0.607890        0.535186

In [ ]:
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0        0.959571        0.501000
1        0.005450        0.447438
2        0.069099        0.310997
3        0.607890        0.535186